.mainDiv{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 230px;
 
}


input{
  height: 40px;
  padding: 0 20px;
  border: 0;
  border-radius: 3px;
  outline: none;
}

button{
  height: 40px;
  padding: 0 20px;
  margin-left: 10px;
  background: #00ce74;
  border: 0;
  color:#fff;
  font-size: 16px;
  font-weight: bold;
  border-radius: 3.5px;
  cursor: pointer;
  outline: none;
  
}
button:hover{
  background:#4ebd69;
}
ul{
  width: 110%;
  height: 100%;
  list-style: none;
  background: white;
  border-radius: 3px;
  padding-left: 3px;

}
li{
  align-items: center;
  font-size: 25px;
  margin: 0 0 0 0;
}
.error{
  color: red;
}
.checkbox{
  height: 15px;
}